* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

:root {
  color-scheme: light dark;
  --header-color: #ffd9da;
  --background-color: #eddfe0;
  --main-color: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.05) 0%,
    #b7b7b7 100%
  );
  --text-color: #2b2b2b;
  --transparent-color: rgba(0, 0, 0, 0.1);
  --accent-color: #640d5f;
  --button-color: #ab886d;
  --button-text-color: #e4e0e1;
  --textarea-background: #f4f6ff;
  --placeholder-color: #89023e;
  --disabled-color: #2a2b2a;
  --border-color: #483d8b;
  --shadow-color: #705c53;
  --dropshadow-color: #470ff4;
  --footer-color: #ffd9da;
  --input-color: #ea638c;
}

/* ===== html ===== */
HTML {
  scroll-behavior: smooth;
}

button:disabled {
  color: var(--disabled-color);
  background: var(--transparent-color) !important;
}

/* ===== header ===== */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  /* height: 400px; */
  background: var(--header-color);
  color: var(--text-color);
}

header > h1 {
  font-size: 2.5rem;
}

header > h2 {
  font-size: 1rem;
}

header > nav {
  width: 100%;
  /* border: 1px solid red; */
}

/* start */
header > nav > form > fieldset {
  /* display: flex; */
  border: 0;
}

fieldset.containerSearch {
  /* flex-wrap: wrap; */
  display: grid;
  grid-template-areas:
    "search btn1 btn2 btn3"
    "result result result result";
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr repeat(3, auto);
  width: 360px;
  margin: auto;
}

fieldset.containerSearch > input {
  grid-area: search;
  border: 0;
  outline: 0;
  padding: 8px;
  background: var(--transparent-color);
  color: var(--text-color);
}

header > nav > form > fieldset > input::placeholder {
  font-weight: 600;
  color: var(--placeholder-color);
}

fieldset.containerSearch > select {
  grid-area: result;
  /* order: 1; */
  outline: 0;
  border: 0;
  padding: 8px;
  box-shadow: inset 0 1px 0 0 var(--shadow-color);
  background: var(--transparent-color);
  color: var(--text-color);
}

fieldset.containerSearch > button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 4px;
  cursor: pointer;
  box-shadow: inset 2px 0 0 0 var(--accent-color);
  background: var(--transparent-color);
  color: var(--text-color);
}

fieldset.containerSearch > button:first-of-type {
  grid-area: btn1;
}

fieldset.containerSearch > button:last-of-type {
  grid-area: btn2;
}

header > nav > form > fieldset > button:hover {
  background: rgba(0, 0, 0, 0.15);
}

fieldset.containerFilterBy {
  display: flex;
  gap: 4px;
  width: 360px;
  margin: auto;
}

fieldset.containerFilterBy > label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  gap: 4px;
  padding: 4px;
  box-shadow: inset 0 0 0 1px var(--accent-color);
  text-transform: capitalize;
}

/* end */

/* ===== body ===== */
body {
  background: var(--background-color);
}

/* ===== footer ===== */
footer {
  background: var(--footer-color);
  padding-top: 200px;
}

footer > p {
  font-size: 1.5rem;
  color: var(--text-color);
}

footer > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 4px;
}

footer > form > input {
  width: 100%;
  height: 40px;
  outline: none;
  padding: 4px;
  border: none;
  border-radius: 4px;
  background: var(--input-color);
  color: var(--button-text-color);
}

footer > form > input::placeholder {
  font-weight: 600;
  color: var(--placeholder-color);
}

footer > form > textarea {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 4px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: var(--textarea-background);
  color: var(--text-color);
}

footer > form > textarea::placeholder {
  font-weight: 600;
  color: var(--placeholder-color);
}

footer > form > button {
  width: 100%;
  height: 40px;
  padding: 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: var(--button-color);
  color: var(--button-text-color);
  transition: font-weight 250ms ease-in-out;
}

footer > form > button:hover {
  font-weight: bold;
}

/* ===== container ===== */
.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  min-height: 100dvh;
  background: var(--background-color);
}

/* ===== categories ===== */
.categories {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 16px;
}

.categories > section:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 4px;
  border-radius: 4px;
  background: url("./assets/texture.jpg");
  background-size: cover;
  background-position: center;
}

.categories > section:first-child > div {
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 6px 0 transparent;
  padding: 20px;
  animation: shadowBeat 4s ease-in-out infinite;
}

.categories > section:first-child > div > h2 {
  font-weight: 600;
  font-size: clamp(1rem, -0.286rem + 1.9vw, 2rem);
  color: var(--text-color);
}

/* ===== category cards ===== */
.category-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  padding: 6px;
  border-radius: 4px;
  min-height: 400px;
  height: fit-content;
  background: var(--transparent-color);
  box-shadow: 0 0 6px 0 var(--shadow-color);
}

/* ===== cards ===== */
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(200px, 1fr);
  gap: 16px;
}

.cards:nth-of-type(2),
.cards:nth-of-type(3),
.cards:nth-of-type(4) {
  display: none;
}

.cards > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: var(--main-color);
  box-shadow: 0 4px 6px 0 var(--shadow-color);
  transition: box-shadow 250ms ease-in-out;
}

.cards > div:hover {
  box-shadow: 0 4px 6px 0 var(--accent-color);
}

.cards > div > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-color);
}

.cards > div > a > div {
  width: 100%;
  height: 100%;
  padding: 4px;
  overflow: hidden;
}

.cards > div > a > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(0.5);
  transition: transform 250ms ease-in-out;
  aspect-ratio: 1;
}

.cards > div > a > div > img:hover,
.cards > div > a > div > img:active {
  transform: scale(1);
}

.cards > div > section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 2px 0 0 transparent;
}

.cards > div > section > button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: none;
  background: none;
  overflow: hidden;
  cursor: pointer;
}

.cards > div > section > button > svg {
  color: var(--accent-color);
  transition: transform 250ms ease-in-out;
}

.cards > div > section > button:hover > svg {
  transform: scale(1.2);
}

.cards > div > textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  visibility: hidden;
  color: var(--text-color);
  background: var(--textarea-background);
  transition: visibility 250ms ease-in-out;
}

.cardsSwitchMode {
  grid-template-columns: 1fr;
  animation: slideIn 1s ease-in-out;
}

.cardsSwitchMode > a {
  display: none !important;
}

.cardsSwitchMode > section {
  align-self: start;
  grid-column: 1;
  grid-row: 1;
  box-shadow: inset 0 2px 0 0 var(--accent-color) !important;
}

.cardsSwitchMode > textarea {
  grid-column: 1;
  grid-row: 1;
  visibility: visible !important;
}

/* ===== show more options ===== */
.showMoreoptions {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.showMoreoptions > button {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 4px;
  border-radius: 4px;
  border: none;
  background: var(--button-color);
  color: var(--button-text-color);
  cursor: pointer;
}

.showMoreoptions > button > svg {
  transform: scale(0.8);
  transition: transform 250ms ease-in-out, color 250ms ease-in-out;
}

.showMoreoptions > button:enabled:hover > svg {
  color: var(--accent-color);
  transform: scale(1);
}

.showMoreoptions > button:disabled {
  color: var(--disabled-color);
  cursor: none;
}

/* ===== main section ===== */
.main-section {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100dvh;
  gap: 16px;
  padding: 16px;
  border-radius: 8px;
  background: var(--transparent-color);
  transition: background 250ms ease;
}

/* ===== recipes ===== */
.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  align-items: center;
  gap: 16px;
  transition: opacity 250ms ease;
}

.recipes > article {
  display: flex;
  align-items: start;
  aspect-ratio: 1;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 6px 0 var(--shadow-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  transition: box-shadow 250ms ease-in-out, opacity 250ms ease-in-out;
}

.recipes > article > span {
  /* display: block; */
  width: 100%;
  padding: 8px;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* backdrop-filter: blur(100px); */
  background: var(--background-color);
  color: var(--text-color);
  /* transition: backdrop-filter 250ms ease-in-out, color 250ms ease-in-out */
}

.recipes > article:hover {
  box-shadow: 0 4px 6px 0 var(--accent-color);
  opacity: 1;
}

/* .recipes > article:hover > span {
  backdrop-filter: blur(0px);
  color: transparent;
} */

/* ===== preparation ===== */
.recipePreparation {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto) repeat(2, minmax(200px, 400px));
  gap: 4px;
  padding: 4px;
  width: 100%;
  height: 100%;
  background: var(--main-color);
  box-shadow: 0 0 8px 2px var(--shadow-color);
  border-radius: 4px;
}

.main-section:has(.recipePreparation:not(.js-hide)) {
  background: none;
}

.recipePreparation :is(h2, h3, ol, textarea, div, svg) {
  color: var(--text-color);
}

.recipePreparation > h2 {
  grid-row: 2;
}

.recipePreparation > h3 {
  grid-row: 2;
  justify-self: center;
  /* grid-column: 1 / span 2; */
  /* justify-self: end; */
}

.recipePreparation > ol {
  grid-row: 4;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 4px;
  padding: 4px;
  overflow: auto;
  box-shadow: inset 0 0 0 2px var(--shadow-color);
  /* scrollbar-width: none; */
}

.recipePreparation > ol > li {
  list-style: none;
  /* list-style-position: inside; */
  font-size: clamp(0.75rem, 0.525rem + 1vw, 1rem);
  font-weight: 600;
  background: var(--transparent-color);
}

/* .recipePreparation > ol > div {
  width: 40px;
  height: 40px;
} */

/* .recipePreparation > ol > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
} */

.recipePreparation > textarea {
  /* grid-column: 1 / span 2; */
  grid-row: 5;
  width: 100%;
  height: 100%;
  resize: none;
  outline: none;
  border: none;
  padding: 4px;
  background: var(--textarea-background);
  color: var(--text-color);
  box-shadow: inset 0 0 0 2px var(--shadow-color);
}

.recipePreparation button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background: none;
}

.recipePreparation button:enabled {
  transition: background 250ms ease-in-out, color 250ms ease-in-out;
}

.recipePreparation > button {
  grid-row: 1;
  /* grid-column: 2; */
  justify-self: end;
}

.recipePreparation button svg {
  transition: color 250ms ease-in-out;
}

.recipePreparation button:enabled:hover > svg,
.recipePreparation button:enabled:active > svg {
  color: var(--accent-color);
}

.recipePreparation > aside {
  grid-row: 3;
  display: flex;
  /* flex-direction: column; */
  gap: 4px;
  /* overflow: auto; */
}

.recipePreparation > aside > div {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 4px;
  flex-basis: 100%;
  overflow-wrap: anywhere;
  overflow: auto;
  background: var(--transparent-color);
}

.recipePreparation > aside > div:last-of-type {
  justify-content: center;
  align-items: center;
}

.recipePreparation > aside > div > p {
  font-size: clamp(0.5rem, 0.05rem + 2vw, 1rem);
}

.recipePreparation > aside > div > p:first-of-type {
  font-weight: 600;
  color: #ffffff;
  background: var(--accent-color);
}

/* .recipePreparation > aside > div:last-of-type {
  justify-content: center;
  align-items: center;
} */

.recipePreparation > aside > div > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipePreparation > aside > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 1;
}

.recipePreparation > aside > button {
}

/* .recipePreparation:has(div:hover, img:hover, div:active, img:active) {
  grid-template-columns: 1fr 1fr;
} */

/* ===== navbar ===== */
.navbar {
  display: flex;
  gap: 5%;
}

.navBtn {
  height: 40px;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border: none;
  border-radius: 4px;
  background: var(--button-color);
  color: var(--button-text-color);
  cursor: pointer;
  transition: background 250ms ease-in-out;
}

.navBtn > svg {
  width: 100%;
  height: 100%;
  transform: scale(0.8);
  transition: transform 250ms ease-in-out, color 250ms ease-in-out;
}

.navBtn:enabled:hover > svg,
.navBtn:enabled:active > svg {
  color: var(--accent-color);
  transform: scale(1);
}

.navBtn:disabled {
  color: var(--disabled-color);
  cursor: none;
}

/* ===== favorites ===== */
.favContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 16px;
  gap: 16px;
  background: var(--transparent-color);
  width: 360px;
  margin: auto;
}

.favContainer > section {
  display: flex;
  flex-direction: column;
  /* height: 200px; */
  gap: 4px;
  overflow: auto;
  box-shadow: 0 4px 6px 0 var(--shadow-color);
}

.favContainer > section > h2 {
  text-align: center;
  /* text-decoration: underline var(--accent-color) 2px; */
  background: var(--header-color);
  color: var(--text-color);
}

.favContainer > section > ol {
  display: flex;
  flex-direction: column;
  gap: 4px;
  /* list-style: inside decimal; */
  list-style: none;
}

.favContainer > section > ol > li {
  padding: 2px;
  border-bottom: 2px solid var(--border-color);
  cursor: default;
  color: var(--text-color);
  background: var(--transparent-color);
  /* text-decoration: underline var(--accent-color) 2px; */
  /* text-underline-offset: 4px; */
  transition: border-color 250ms ease-in-out;
  /* background-image: url("./assets/star.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 1.5rem; */
}

.favContainer > section > ol > li:hover {
  border-color: var(--accent-color);
}

.favContainer > div {
  align-self: center;
  justify-self: center;
  /* height: fit-content; */
  /* height: 200px; */
  /* width: 200px; */
}

.favContainer > div > img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
  box-shadow: 0 4px 6px 0 var(--shadow-color);
  transition: box-shadow 250ms ease-in-out;
}

.favContainer > div > img:hover {
  box-shadow: 0 4px 6px 0 var(--accent-color);
}

/* ===== js classes ===== */
.js-show {
  visibility: visible;
}

.js-hide {
  display: none;
}

.closeTab {
  animation: closeTab 250ms linear;
}

.loading {
  grid-row: 1 / span 2;
  place-self: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: loading 1s linear infinite;
}

.hideElm {
  visibility: hidden;
}

/* ===== responsive ===== */
@media (min-width: 1024px) {
  .container {
    max-width: 50dvw;
    margin: auto;
  }
}

/* ===== animations ===== */
@keyframes slideIn {
  from {
    transform: scale(0.8);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes shadowBeat {
  0% {
    box-shadow: 0 4px 6px 0 var(--accent-color);
  }

  25% {
    box-shadow: 0 4px 6px 0 var(--shadow-color);
  }

  50% {
    box-shadow: 0 4px 6px 0 var(--shadow-color);
  }

  100% {
    box-shadow: 0 4px 6px 0 var(--accent-color);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes loading {
  0% {
    transform: translateY(0);
    background: var(--transparent-color);
  }
  50% {
    transform: translatex(20px);
    background: var(--accent-color);
  }
  100% {
    transform: translateY(0);
    background: var(--transparent-color);
  }
}

@keyframes closeTab {
  0% {
    transform: scale(0.8) translateX(-20%);
    opacity: 0.8;
  }

  25% {
    transform: scale(0.6) translateX(-40%);
    opacity: 0.6;
  }

  50% {
    transform: scale(0.4) translateX(-60%);
    opacity: 0.4;
  }

  75% {
    transform: scale(0.2) translateX(-80%);
    opacity: 0.2;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}
